 

<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
    <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text'
                 [(ngModel)]='listFilter' />
        </div>
      </div>
      <div class='row'
           *ngIf='listFilter'>
        <div class='col-md-6'>
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='countries && countries.length'>
          <thead>
            <tr>
              <th>
               Flag
              </th>
              <th>Code</th>
              <th>Name</th>
              <th>Capital</th>
              <th>Region</th>
              <th>Population</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let country of filteredCountries'  
            [routerLink]="['/country', country.alpha3Code]">
            
              <td>
                <img 
                     [src]='country.flag'
                     [title]='country.name'
                     [style.width.px]='imageWidth'
                     [style.margin.px]='imageMargin'>
              </td>
              <td>{{ country.alpha3Code }}              
              </td>
              <td>                                                 
                  {{ country.name | uppercase }}                
            </td>
              <td>{{ country.capital }}</td>
              <td>{{ country.region | uppercase }}</td>
              <td>{{ country.population | number }}</td>
            
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
