



<mat-grid-list cols="4" rowHeight="1:1.4"   gutterSize="20px"  >
  <mat-grid-tile 
  *ngFor='let country of filteredCountries'>

      <mat-card  class="example-card"
      [routerLink]="['/country', country.alpha3Code]" >
        <img  mat-card-image  
         [src]="country.flag" [alt]="country.name">
        <mat-card-content>
            
            <div class="mat-title">{{ country.name }}</div>
            <div class="mat-body">Population: {{country.population | number }}</div>
            <div class="mat-body">Region: {{country.region }}</div>
            <div class="mat-body">Capital: {{country.capital }}</div>    
                
        </mat-card-content>     
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
