


  <mat-toolbar class="topGrid">
  
    <div class="divSearch">
    <mat-icon class="iconSearch" matPrefix >search</mat-icon>
    <input class="inputSearch" matInput placeholder="Search for a country..." [(ngModel)]='listFilter' value="">
    </div>


    <div class="divRegion">        
        <mat-form-field>
          <mat-label>Filter by Region</mat-label>
          <mat-select  [(ngModel)]= 'listFilter_region' >
            <mat-option value="AllRegion">All Region</mat-option>
            <mat-option value="Africa">Africa</mat-option>
            <mat-option value="Americas">America</mat-option>
            <mat-option value="Asia">Asia</mat-option>
            <mat-option value="Europe">Europe</mat-option>
            <mat-option value="Oceania">Oceania</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

  </mat-toolbar>

<mat-grid-list class="countryCardlist" cols="4" rowHeight="1:1.4"   gutterSize="20px"  >
  <mat-grid-tile 
  *ngFor='let country of filteredCountries'>

      <mat-card  class="example-card"
      [routerLink]="['/country', country.alpha3Code]" >
        <img  mat-card-image  
         [src]="country.flag" [alt]="country.name">
        <mat-card-content>
            
            <div class="mat-title">{{ country.name }}</div>
            <div class="mat-body">Population: {{country.population | number }}</div>
            <div class="mat-body">Region: {{country.region }}</div>
            <div class="mat-body">Capital: {{country.capital }}</div>    
                
        </mat-card-content>     
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
