
<div [class]="theme">

<mat-toolbar class="navbar">
<div>
<span> <img class ="logo" src="./assets/images/broadcomlogo.png" 
  alt="Broadcom Logo"> </span>
<span routerLinkActive='active' [routerLink]="['/country']" >Where in the world?</span>
</div>
<div>
 <!-- <button mat-button>Dark Theme</button> --> 
 
 <button  mat-raised-button 
 (click)='toggleTheme()'>
 <i class="material-icons">
  brightness_3
  </i>
{{showDarkTheme ? 'Light ' : 'Dark '}} Mode
</button>
  
</div>
</mat-toolbar>
<mat-divider></mat-divider>
<div class='container'>
  <router-outlet></router-outlet>
</div>

</div>

<!--

<div> 
    <app-country-list></app-country-list>
</div>

-->