.card-header {

    background-color:rgba(0,0,0,0);
    border-bottom: none;
}


.countrycontent{
  margin-top:4%;
}

.country-detail-card {
  max-width: 400px;
  border:none !important;
}

  .material-icons{
    vertical-align: middle;
  }

  .mat-title
{
  font-size:x-large;
text-align: left !important;

}

.mat-raised-button {
  margin-right: 1%;
}
 