<div class='content' >
  <div class='detailpageheader' >   

   <button  mat-raised-button 
    (click)='onBack()'>
    <i class="material-icons">
     arrow_back
     </i>
       Back
   </button>

  </div>
<div class="countrycontent">
  
    <mat-grid-list *ngIf='country' class="countryCardlist" cols="10" rowHeight="1:2.4" gutterSize="5px" >

      <mat-grid-tile colspan="4">
        <div >
            <img class=''
                 [style.width.%]='100'
                 [style.margin.px]='2'
                 [src]='country.flag'
                 [title]='country.name'>
        </div>
        </mat-grid-tile>


    <mat-grid-tile colspan="3">
      <mat-card  class="country-detail-card" >
      
      <mat-card-content>
        <div class="mat-title">{{ country.name }}</div>
      <div class="mat-body">Native Name : {{country.nativeName}}</div> 
      <div class="mat-body" >Population : {{country.population | number}}</div> 
      <div class="mat-body">Region : {{country.region}}</div> 
      <div class="mat-body">Sub Region : {{country.subregion}}</div> 
      <div class="mat-body">Capital  : {{country.capital}}</div>
    </mat-card-content>        
    </mat-card>
  
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      
      <mat-card  class="country-detail-card" >
      <mat-card-content>
      <div class="mat-body">Top Level Domain: {{country.topLevelDomain}}</div> 
      <div class="mat-body">Currencies : {{country.arrCurrencies}}</div> 
      <div class="mat-body">Languages : {{country.arrLanguages}}</div> 
     
    </mat-card-content>        
  </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" ></mat-grid-tile>
    <mat-grid-tile colspan="6" >
      <mat-card  class="country-detail-border-card" >
      <mat-card-content>  
        <div class="subheading-2">Border Countries : 
        <button  mat-raised-button   *ngFor='let border of country.borders' 
        [routerLink]="['/country/border', border]">   
      {{border}}
   </button>
  </div> 
      </mat-card-content>        
    </mat-card>
      </mat-grid-tile>
  </mat-grid-list>


</div>

      

</div>
