<div class='card'
     *ngIf='country'>
  <div class='card-header'>

    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>

  </div>

  <div class='card-body'>
    <div class='row'>

        <div class='col-md-4'>
            <img class='center-block img-responsive'
                 [style.width.%]='100'
                 [style.margin.px]='2'
                 [src]='country.flag'
                 [title]='country.name'>
          </div>

      <div class='col-md-8 contry-detail-rc'>
        <div class='row'>          
          <div class='col-md-12'>{{country.name}}</div>         
        </div>
        <div class='row'>
          <div class='col-md-6'>ISO Code:</div>
          <div class='col-md-6'>{{country.alpha3Code | uppercase }}</div>
        </div>
        <div class='row'>
            <div class='col-md-6'>Capital:</div>
            <div class='col-md-6'>{{country.capital}}</div>
          </div>
        <div class='row'>
          <div class='col-md-6'>Region:</div>
          <div class='col-md-6'>{{country.region}}</div>
        </div>
        <div class='row'>
          <div class='col-md-6'>Subregion:</div>
          <div class='col-md-6'>{{country.subregion}}</div>
        </div>
        <div class='row'>
          <div class='col-md-6'>Native Name:</div>
          <div class='col-md-6'>{{country.nativeName}}</div>
        </div>    
        
        <div class='row'>
          <div class='col-md-6'>Top level domain:</div>
          <div class='col-md-6'>{{country.topLevelDomain}}</div>
        </div>

        <div class='row'>
            <div class='col-md-6'>Population:</div>
            <div class='col-md-6'>{{country.population | number}}</div>
          </div>   

          <div class='row' >
            <div class='col-md-6'>Languages:</div>
            <div class='col-md-6'>{{country.languages}}</div>
          </div>

          <div class='row'>
            <div class='col-md-6'>Currencies:</div>
            <div class='col-md-6'>{{country.currencies}}</div>
          </div>

          <div class='row'>
            <div class='col-md-6'>Borders:</div>
            <div class='col-md-6'>{{country.borders}}</div>
          </div>

      </div>

     
    </div>
  </div>

</div>
